body {
  display: flex;
  border: none;
  outline: none;
  height: 100vh;
}

#split-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

body.vertical > #split-container {
  flex-direction: column;
}
body.horizontal > #split-container {
  flex-direction: row;
}

body.vertical > #split-container > #left-pane {
  border-bottom: 2px solid rgb(var(--border-color));
}
body.horizontal > #split-container > #left-pane {
  border-right: 2px solid rgb(var(--border-color));
}
body.vertical > #split-container > #right-pane {
  border-top: 2px solid rgb(var(--border-color));
}
body.horizontal > #split-container > #right-pane {
  border-left: 2px solid rgb(var(--border-color));
}

#left-pane {
  flex-basis: var(--left-pane-view-percentage);
  background-color: rgb(var(--left-pane-background-color));
}

#right-pane {
  flex-basis: var(--right-pane-view-percentage);
  background-color: rgb(var(--right-pane-background-color));
}



.split-pane {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.iframe-container {
  position: relative;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
  background-color: rgb(var(--main-background-color));
}

.no-view-opened-msg {
  color: rgb(var(--primary-text-color));
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(var(--border-color), 0.5);
}

.toolbar-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 4px;
  color: rgb(var(--primary-text-color));
}

.shortened-url-btn {
  border: 1px solid rgb(var(--border-color));
  margin: 2px auto;
  border-radius: 4px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  height: calc(100% - 2 * 2px);
  padding: 2px 8px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(var(--input-background-color));
}

.shortened-url-btn:hover {
  background-color: rgba(var(--input-background-color), .7);
}

#left-pane-shortened-url-btn {
  color: rgba(var(--left-pane-text-color));
}
#right-pane-shortened-url-btn {
  color: rgba(var(--right-pane-text-color));
}

#left-pane .action-btn > i {
  color: rgba(var(--left-pane-text-color)) !important;
}
#right-pane .action-btn > i {
  color: rgba(var(--right-pane-text-color)) !important;
}

#resize-draggable {
  z-index: 30;
  position: fixed;
}

#resize-draggable::after {
  content: "";
  display: block;
  position: absolute;
  background: rgb(var(--border-color));
  scale: 0 1;
}

#resize-draggable:hover::after,
#resize-draggable:active::after {
  scale: 1 1;
}

body.horizontal > #resize-draggable {
  height: 100%;
  left: var(--left-pane-view-percentage);
  transform: translateX(-50%);
  width: var(--resize-bar-width);
  cursor: ew-resize;
}

body.horizontal > #resize-draggable::after {
  height: 100%;
  width: 16px;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body.vertical > #resize-draggable {
  width: 100%;
  top: var(--left-pane-view-percentage);
  transform: translateY(-50%);
  height: var(--resize-bar-width);
  cursor: ns-resize;
}

body.vertical > #resize-draggable::after {
  width: 100%;
  height: 16px;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.action-btn {
  background-color: transparent;
  color: var(--secondary-text-color);
  border-radius: 4px;
  font-size: 11px;
  aspect-ratio: 1/1;
  transition: background-color, scale, ease-in-out, 150ms;
}

.action-btn:hover {
  background-color: rgba(var(--border-color), 0.2);
}

.action-btn:active {
  scale: 0.8;
}

.toolbar-content > .left,
.toolbar-content > .center,
.toolbar-content > .right {
  width: 100%;
  height: 100%;
}

.toolbar-content > .left {
  display: flex;
  justify-content: flex-end;
}

.toolbar-content > .right {
  display: flex;
  justify-content: flex-start;
}

/* SEARCHBAR */
#searchbar-wrapper {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  inset: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 200ms;
}

#searchbar-close-trigger {
  position: fixed;
  z-index: 40;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
}

#searchbar-wrapper[data-expanded="true"] {
  opacity: 1;
  pointer-events: all;
}

.searchbar-content {
  width: 100%;
  min-width: 250px;
  max-width: 550px;
  background: rgb(var(--input-background-color));
  overflow-x: hidden;
  box-shadow: 0 8px 16px 8px var(--shadow-color);
  margin-bottom: 30vh; /* Moves upwards the box */
  z-index: 50;

  border-radius: 16px;
  border: 1px solid rgb(var(--border-color));
  display: flex;
  flex-direction: column;

  transition: transform, opacity, ease-out 200ms;
}

#searchbar-wrapper[data-expanded="false"] > .searchbar-content {
  opacity: 0;
  transform: scale(1.05);
}
#searchbar-wrapper[data-expanded="true"] > .searchbar-content {
  opacity: 1;
  transform: scale(1);
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(var(--border-color));
}

.url-input {
  flex: 1;
  outline: none;
  background-color: transparent;
  padding: 12px 24px;
  color: rgb(var(--primary-text-color)) !important;
  border: 0;
  font-size: 1.2rem;
}

#searchbar-submit-btn {
  background: transparent;
  height: 32px;
  aspect-ratio: 1/1;
  color: rgb(var(--primary-text-color));
  margin-right: 4px;
}

.toolbar-links-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 35vh;
  overflow-y: scroll;
}

.toolbar-tab-link {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  padding: 12px 24px;
  background: transparent;
  color: rgb(var(--primary-text-color));
}

.toolbar-tab-link:hover {
  background-color: rgba(var(--border-color), 0.2);
}

.toolbar-tab-link:not(:last-child) {
  border-bottom: 1px solid rgba(var(--border-color), 0.5);
}

.toolbar-tab-link img {
  width: 18px;
  height: 18px;
}

/* CTA's */
.cta {
  --bg-opacity: 1;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: 500;
  background-color: rgb(var(--input-background-color));
  color: rgb(var(--primary-text-color));
  transition: background-color 150ms;
}

.cta-primary {
  background-color: rgb(var(--primary-text-color));
  color: rgb(var(--input-background-color));
}

.cta:hover {
  --bg-opacity: 0.7;
}

/* Extension rating popup */
#rating-suggestion-box {
  position: fixed;
  bottom: 6px;
  right: 6px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: rgb(var(--main-background-color));
  border: 1px solid rgb(var(--border-color));
  color: rgb(var(--primary-text-color));
  border-radius: 6px;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  transform: translateY(200%);
  transition: transform, opacity, 200ms ease-out;
}

#rating-suggestion-box[data-visible="true"] {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.rating-title {
  font-weight: 600;
  font-size: 1.2rem;
}
