:root {
  --main-background-color: 234, 234, 237;
  --input-background-color: 222, 222, 225;
  --primary-text-color: 0, 0, 0;
  --secondary-text-color: 128, 128, 128;
  --border-color: 200, 200, 200;
  --shadow-color: rgba(var(--input-background-color), 0.2);
  --active-border-color: 0, 120, 215;

  --left-pane-view-percentage: 50%;
  --right-pane-view-percentage: 50%;

  --left-pane-background-color: var(--main-background-color);
  --left-pane-text-color: var(--primary-text-color);

  --right-pane-background-color: var(--main-background-color);
  --right-pane-text-color: var(--primary-text-color);

  --resize-bar-width: 8px;

  --view-orientation: row;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: 28, 27, 34;
    --input-background-color: 20, 19, 24;
    --primary-text-color: 255, 255, 255;
    --secondary-text-color: 128, 128, 128;
    --border-color: 75, 75, 75;
    --active-border-color: 66, 165, 245;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: rgb(var(--primary-text-color));
}

button {
  border: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: rgb(var(--primary-text-color));
}

body {
  background-color: rgb(var(--main-background-color));
}
